---
import GuideStep from "../../components/GuideStep.astro";
import PostCard from "../../components/PostCard.astro";
import Layout from "../../layouts/Layout.astro";

import { ArrowDown, ArrowRight, FileUp, PenTool } from "lucide-vue-next";

import {
  fetchWritingTips,
  fetchRecentCompetitionPosts,
  fetchCompetitionData,
} from "../../lib/api";
import { createAgeGroupString } from "../../lib/ageGroups";
import type { WritingTip, Post, Competition, Media } from "../../payload";

// FETCH DATA

const { page } = Astro.params;
if (!page || page.length === 0) {
    return Astro.redirect("/404");
}

let competitionData: Competition | null = null;
let recentCompetitionPosts: Post[] = [];
let writingTips: WritingTip | null = null;

try {
  competitionData = await fetchCompetitionData(page);
  if (!competitionData) {
    return Astro.redirect("/404");
  }
  recentCompetitionPosts = await fetchRecentCompetitionPosts(
    competitionData.id
  );
  console.log(recentCompetitionPosts);
  writingTips = await fetchWritingTips();
} catch (error) {
  console.error(error);
}

// CHECK COMPETITION STATUS

enum CompetitionStatus {
  UPCOMING = "upcoming",
  RUNNING = "running",
  FINISHED = "finished",
}

let competitionStatus: CompetitionStatus;

const today = new Date().toISOString();

if (today < competitionData.date_start) {
  competitionStatus = CompetitionStatus.UPCOMING;
} else if (today > competitionData.date_end) {
  competitionStatus = CompetitionStatus.FINISHED;
} else {
  competitionStatus = CompetitionStatus.RUNNING;
}
---

<Layout title="Schreibwettbewerbe Bad Harzburg">
  <main>
    <section
      class="min-h-[90vh] w-screen flex flex-row 2xl:flex-col items-center justify-center relative px-52 xl:px-36 md:px-28 sm:px-4 py-20 gap-14 md:gap-6"
    >
      <div class="absolute w-full h-full z-[-1] md:hidden">
        <img
          class="absolute left-[35%] top-16 lg:w-28"
          src="/images/shapes/three.svg"
          alt="Some shapes"
        />
        <img
          class="absolute left-[8%] top-[30%] lg:w-16"
          src="/images/shapes/two1.svg"
          alt="Some shapes"
        />
        <img
          class="absolute left-[-4%] bottom-0 lg:w-28 -rotate-45"
          src="/images/shapes/three.svg"
          alt="Some shapes"
        />
        <img
          class="absolute right-[50%] bottom-10 lg:w-28 rotate-12"
          src="/images/shapes/one.svg"
          alt="Some shapes"
        />
      </div>
      <img
        class="min-w-[36rem] md:min-w-0 w-[36rem] h-[36rem] md:w-[24rem] md:h-[24rem] xs:w-[20rem] xs:h-[20rem] 2xs:w-[12rem] 2xs:h-[12rem] rounded-2xl shadow-2xl object-cover"
        src={import.meta.env.PUBLIC_BACKEND_URL +
          (competitionData.image_hero as Media).url}
        alt={(competitionData.image_hero as Media).alt}
      />
      <div
        class="w-[46rem] 2xl:w-full h-[36rem] 2xl:h-full py-4 flex flex-col justify-between 2xl:gap-8 md:gap-6"
      >
        <h1
          class="text-twine-400 font-bold font-serif small-caps text-8xl 2xl:text-center lg:text-6xl xs:text-5xl 2xs:text-4xl leading-[6rem]"
        >
          {competitionData.title}
        </h1>
        <h2
          class="text-3xl lg:text-2xl xs:text-xl font-bold small-caps text-bandicoot-400 mt-3 2xl:text-center leading-8"
        >
          {competitionData.sponsor_string}
        </h2>
        <div
          class="flex flex-row md:flex-col xl:justify-center gap-10 w-full"
        >
          <div class="md:flex md:flex-col md:items-center">
            <h3 class="text-bandicoot-400 font-bold text-basic mt-5 mb-2">
              Altersgruppen
            </h3>
            <ul class="flex flex-wrap md:justify-center gap-1">
              {
                competitionData.agegroups.map((agegroup: any) => (
                  <li class="w-24 h-8 border-[1px] text-sm border-bandicoot-400 rounded-lg px-2 py-1 text-bandicoot-400 flex justify-center items-center">
                    {createAgeGroupString([
                      agegroup.age_start,
                      agegroup.age_end,
                    ])}{" "}
                    Jahre
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="md:flex md:flex-col md:items-center">
            <h3 class="text-bandicoot-400 font-bold text-basic mt-5 mb-2">
              Zeitraum
            </h3>
            <div
              class="h-8 bg-bandicoot-400 flex gap-2 rounded-md w-[fit-content] px-2 py-1 font-semibold text-pearl-bush-50 justify-center items-center"
            >
              {new Date(competitionData.date_start).toLocaleDateString("de-DE")}
              <span class="font-thin">bis</span>
              {new Date(competitionData.date_end).toLocaleDateString("de-DE")}
            </div>
          </div>
        </div>
        <div
          class="flex flex-row md:flex-col 2xl:justify-center items-center gap-2"
        >
          {
            competitionStatus === CompetitionStatus.RUNNING && (
              <a href="/text-einreichen">
                <button class="w-52 hover:bg-transparent bg-twine-400 hover:text-twine-400 border-[1px] border-twine-400 text-pearl-bush-50 transition-colors ease-out duration-500 text-lg sm:text-sm font-serif font-semibold flex flex-row gap-2 items-center rounded-lg py-2 px-4 justify-evenly">
                  Mitmachen
                  <FileUp size="1.5rem" />
                </button>
              </a>
            )
          }
          <a href="#so-gehts">
            <button
              class="w-52 hover:bg-bandicoot-400 hover:text-pearl-bush-50 transition-colors ease-out duration-500 text-lg sm:text-sm font-serif font flex flex-row gap-2 items-center rounded-lg border-[1px] py-2 px-4 font-semibold border-bandicoot-400 text-bandicoot-400 justify-evenly"
            >
              Mehr erfahren
              <ArrowDown size="1.5rem" />
            </button>
          </a>
        </div>
      </div>
    </section>
    <section
      class="w-screen bg-white flex flex-wrap items-center justify-center py-8 px-8 gap-8"
    >
      {
        competitionData.sponsors?.map((sponsor: any) => (
          <a href={sponsor.link}>
            <img
              class="h-16 object-cover object-center md:h-14 xs:h-12"
              src={import.meta.env.PUBLIC_BACKEND_URL + sponsor.logo.url}
              alt={sponsor.logo.alt}
            />
          </a>
        ))
      }
    </section>
    <section
      id="so-gehts"
      class="w-screen bg-bandicoot-400 pl-36 pr-52 py-20 xl:pl-20 xl:pr-36 md:pl-12 md:pr-28 sm:pl-4 sm:pr-20 xs:px-12"
    >
      <h1
        class="text-pearl-bush-100 font-bold flex flex-col font-serif small-caps text-8xl lg:text-6xl xs:text-5xl 2xs:text-4xl mb-14 ml-16 2xs:mx-0 leading-[5rem] gap-4"
      >
        So geht's
        <span class="text-3xl xs:text-2xl uppercase font-sans font-light italic">
          Es ist ganz einfach!
        </span>
      </h1>
      <div class="grid grid-cols-2 lg:grid-cols-1 gap-8 z-10 relative">
        {
          competitionData.instruction_steps.map((step: any, index: number) => (
            <GuideStep
              title={step.title}
              number={index + 1}
              description={step.description}
              textColor="text-pearl-bush-100"
            />
          ))
        }
      </div>
    </section>
    {
      competitionStatus !== CompetitionStatus.UPCOMING && (
        <section class="w-screen relative">
          <div class="absolute w-full h-full z-[-1] md:hidden">
            <img
              class="absolute right-[5%] -top-2 lg:w-28 -rotate-45"
              src="/images/shapes/two1.svg"
              alt="Some shapes"
            />
            <img
              class="absolute left-[2%] top-20 lg:w-16 rotate-45"
              src="/images/shapes/three.svg"
              alt="Some shapes"
            />
            <img
              class="absolute left-[8%] bottom-12 lg:w-28 rotate-12"
              src="/images/shapes/two1.svg"
              alt="Some shapes"
            />
            <img
              class="absolute right-[15%] -bottom-10 lg:w-28 rotate-90"
              src="/images/shapes/three.svg"
              alt="Some shapes"
            />
            <img
              class="absolute right-[45%] top-40 lg:w-28 rotate-12"
              src="/images/shapes/one.svg"
              alt="Some shapes"
            />
          </div>
          <div class="px-36 py-20 xl:px-20 xs:px-8">
            {competitionStatus === CompetitionStatus.RUNNING ? (
              <div class="mb-14 lg:text-center">
                <h2 class="small-caps font-serif text-4xl 2xs:text-2xl font-bold text-pearl-bush-950">
                  Deine Konkurrenz
                </h2>
                <h3 class="font-bold text-base 2xs:text-sm  text-bandicoot-400">
                  Diese Texte haben andere bereits einreicht.
                </h3>
              </div>
            ) : (
              <div class="mb-14 lg:text-center">
                <h2 class="small-caps font-serif text-4xl 2xs:text-2xl font-bold text-pearl-bush-950">
                  Texte des Wettbewerbs
                </h2>
                <h3 class="font-bold text-base 2xs:text-sm  text-bandicoot-400">
                  Diese Texte wurden eingereicht.
                </h3>
              </div>
            )}
            {(recentCompetitionPosts.length !== 0) ? (<div class="grid grid-cols-3 2xl:grid-cols-2 lg:grid-cols-1 gap-6 justify-items-center">
              {recentCompetitionPosts.map((post: Post) => (
                <PostCard
                  post={post}
                />
              ))}
            </div>
            <div class="flex justify-end lg:justify-center mt-14">
              <a href="/alle-texte">
                <button class="w-fit hover:bg-bandicoot-400 hover:text-pearl-bush-50 transition-colors ease-out duration-500 text-lg sm:text-sm font-serif font flex flex-row gap-2 items-center rounded-lg border-[1px] py-2 px-4 font-semibold border-bandicoot-400 text-bandicoot-400 bg-pearl-bush-100 justify-evenly">
                  Alle Texte
                  <ArrowRight size="1.5rem" />
                </button>
              </a>
            </div>) : (
            <div class="px-40 md:px-10 xs:px-5 2xs:px-3 pb-10 w-full z-10">
                    <div class="flex flex-col justify-center items-center">
                        <img
                            class="w-64"
                            src="/images/illustrations/MeditatingDoodle.svg"
                            alt="A person meditating"
                        />
                        <p class="text-bandicoot-500 font-serif max-w-sm text-center">
                            Noch sind keine Texte eingereicht worden. Schau doch
                            später nochmal vorbei.
                        </p>
                    </div>
                </div>
            )}
          </div>
        </section>
      )
    }
    {
      competitionStatus !== CompetitionStatus.FINISHED &&
        (competitionStatus === CompetitionStatus.RUNNING ? (
          <section class="w-screen bg-bandicoot-400 basis-2/3 flex flex-row 2xl:flex-col justify-around px-52 xl:px-36 md:px-28 sm:px-20 xs:px-12 py-20 gap-28">
            <div class="w-[58rem] 2xl:w-full flex flex-col">
              <h1 class="text-pearl-bush-100 font-bold flex flex-col font-serif small-caps text-8xl lg:text-6xl xs:text-5xl 2xs:text-4xl mb-14 leading-[5rem] gap-4">
                Bevor du loslegst
                <span class="text-3xl xs:text-2xl uppercase font-sans font-light italic">
                  Ein Paar Tipps zum Schreiben deines Textes!
                </span>
              </h1>
              <div class="flex flex-col gap-6 text-pearl-bush-100">
                {writingTips?.tips?.map((tip: any) => (
                  <span>{tip.tip}</span>
                  ))}
                  </div>
                  </div>
                  <div class="flex items-center justify-center">
                    <div class="min-w-[20rem] min-h-[20rem] xs:min-w-[16rem] xs:min-h-[16rem] 2xs:min-w-[12rem] 2xs:min-h-[12rem] bg-pearl-bush-100 rounded-full flex items-center justify-center">
                      <PenTool id="penTool" class="text-twine-400"/>
                    </div>
                    <script>
      
        const penTool = document.getElementById('penTool');
        
        function resizePenTool() {
          const viewportWidth = window.innerWidth;
          if (penTool) {
            if (viewportWidth < 383) {
              penTool.setAttribute('width', '120');
              penTool.setAttribute('height', '120');
            } else if (viewportWidth < 512) {
              penTool.setAttribute('width', '135');
              penTool.setAttribute('height', '135')
            } else {
              penTool.setAttribute('width', '150');
              penTool.setAttribute('height', '150')
            }
          }
        }
        
        window.addEventListener('resize', resizePenTool);
        resizePenTool();
      
    </script>
            </div>
          </section>
        ) : (
          <section class="w-screen bg-pearl-bush-100 basis-2/3 flex flex-row 2xl:flex-col justify-around px-52 xl:px-36 md:px-28 sm:px-20 xs:px-12 py-20 gap-28">
            <div class="w-[58rem] 2xl:w-full flex flex-col">
              <h1 class="text-twine-400 font-bold flex flex-col font-serif small-caps text-8xl lg:text-6xl xs:text-5xl 2xs:text-4xl mb-14 leading-[5rem] gap-4">
                Bevor du loslegst
                <span class="text-3xl xs:text-2xl uppercase font-sans font-light italic">
                  Ein Paar Tipps zum Schreiben deines Textes
                </span>
              </h1>
              <div class="flex flex-col gap-6 text-bandicoot-400">
                {writingTips?.tips?.map((tip: any) => (
                  <span>{tip.tip}</span>
                ))}
              </div>
            </div>
            <div class="flex items-center justify-center">
              <div class="min-w-[20rem] min-h-[20rem] xs:min-w-[16rem] xs:min-h-[16rem] 2xs:min-w-[12rem] 2xs:min-h-[12rem] bg-twine-400 rounded-full flex items-center justify-center">
                <PenTool id="penTool" class="text-pearl-bush-100" size="150" />
              </div>
              <script>
        const penTool = document.getElementById('penTool');
        
        function resizePenTool() {
          const viewportWidth = window.innerWidth;
          if (penTool) {
            if (viewportWidth < 383) {
              penTool.setAttribute('size', '120');
            } else if (viewportWidth < 512) {
              penTool.setAttribute('size', '135');
            } else {
              penTool.setAttribute('size', '150');
            }
          }
        }
        
        window.addEventListener('resize', resizePenTool);
        resizePenTool();
      
    </script>
            </div>
          </section>
        ))
    }
    {
      competitionStatus === CompetitionStatus.RUNNING && (
        <section class="w-screen flex justify-center pt-20 pb-40 px-12 relative">
          <div class="absolute w-full h-full z-[-1] md:hidden">
            <img
              class="absolute -right-[1%] top-10 lg:w-28 rotate-45"
              src="/images/shapes/three.svg"
              alt="Some shapes"
            />
            <img
              class="absolute right-[18%] bottom-8 lg:w-28 rotate-45"
              src="/images/shapes/two1.svg"
              alt="Some shapes"
            />
            <img
              class="absolute left-[0%] top-8 lg:w-16 rotate-180"
              src="/images/shapes/two1.svg"
              alt="Some shapes"
            />
            <img
              class="absolute left-[18%] bottom-8 lg:w-28 rotate-12"
              src="/images/shapes/three.svg"
              alt="Some shapes"
            />
            <img
              class="absolute left-[45%] bottom-32 lg:w-28 rotate-12"
              src="/images/shapes/one.svg"
              alt="Some shapes"
            />
            <img
              class="absolute left-[8%] bottom-12 lg:w-28"
              src="/images/shapes/one.svg"
              alt="Some shapes"
            />
          </div>
          <div class="w-[32rem] flex flex-col items-center gap-12">
            <h1 class="text-bandicoot-400 font-bold font-serif small-caps text-5xl xs:text-4xl 2xs:text-3xl text-center md:text-4xl">
              Worauf wartest Du noch?!
            </h1>
            <a href="/text-einreichen">
              <button class="w-80 2xs:w-60 hover:bg-transparent bg-twine-400 hover:text-twine-400 border-[1px] border-twine-400 text-pearl-bush-50 transition-colors ease-out duration-500 text-lg sm:text-sm font-serif font-semibold flex flex-row gap-2 items-center rounded-lg py-2 px-4 justify-evenly">
                Mitmachen
              </button>
            </a>
          </div>
        </section>
      )
    }
  </main>
</Layout>
