---
import Layout from "../../layouts/Layout.astro";
import { Trophy, Mail } from "lucide-vue-next";
import { Facebook } from "lucide-vue-next";
import { Twitter } from "lucide-vue-next";
import { ExternalLink } from "lucide-vue-next";
import DOMPurify from "isomorphic-dompurify";
import { fetchPostBySlug, fetchRunningCompetitions } from "../../lib/api";
import type { Competition } from "../../payload";
import { createAgeGroupString } from "../../lib/ageGroups";

const { page } = Astro.params;

if (!page || page.length === 0) {
  return Astro.redirect("/alle-texte/");
  return Astro.redirect("/alle-texte/");
}

let post;
let runningCompetition;

try {
  post = await fetchPostBySlug(page);
  runningCompetition = await fetchRunningCompetitions();
  post = await fetchPostBySlug(page);
  runningCompetition = await fetchRunningCompetitions();
} catch (error) {
  console.error(error);
  return Astro.redirect("/404");
}

if (!post) {
  return Astro.redirect("/404");
  return Astro.redirect("/404");
}

const content = DOMPurify.sanitize(post.content);

const shareButtons = [
  {
    label: "Email",
    Icon: Mail,

    link: `mailto:?subject=${(post.competition as Competition)?.title}&body=${post.title} - ${post.author} - https://schreiben.die-buecherheimat.de/texte/${post.slug}`,
  },
  {
    label: "Facebook",
    Icon: Facebook,
    link: `https://www.facebook.com/sharer/sharer.php?u=https://schreiben.die-buecherheimat.de/texte/${post.slug}`,
  },
  {
    label: "Twitter",
    Icon: Twitter,
    link: `https://twitter.com/intent/tweet?text=${(post.competition as Competition)?.title}&url=https://schreiben.die-buecherheimat.de/texte/${post.slug}`,
  },
];
---

<Layout title={post.title}>
  <div class="relative overflow-hidden w-full min-h-screen">
    <div class="absolute w-full h-full z-0 md:hidden">
      <img
        class="absolute right-0 top-[50%] lg:w-28"
        src="/images/shapes/three.svg"
        alt="Shapes"
      />
      <img
        class="absolute left-[8%] top-[30%] lg:w-16"
        src="/images/shapes/two1.svg"
        alt="Some shapes"
      />
      <img
        class="absolute left-[-4%] bottom-0 lg:w-28 -rotate-45"
        src="/images/shapes/three.svg"
        alt="Some shapes"
      />
      <img
        class="absolute left-[20%] -bottom-20 lg:w-28 rotate-45"
        src="/images/shapes/three.svg"
        alt="Some shapes"
      />
      <img
        class="absolute right-[20%] -bottom-20 lg:w-28 rotate-180"
        src="/images/shapes/three.svg"
        alt="Some shapes"
      />
      <img
        class="absolute right-[50%] bottom-5 lg:w-10 rotate-12"
        src="/images/shapes/one.svg"
        alt="Some shapes"
      />
      <img
        class="absolute right-0 top-[50%] lg:w-28"
        src="/images/shapes/three.svg"
        alt="Shapes"
      />
    </div>
    <section
      class="pt-32 md:pt-20 w-full flex flex-col items-center gap-2 relative z-10 lg:px-8 xs:px-4"
    >
      <a class="w-full flex justify-center">
        <a
          href={`/wettbewerb/${(post.competition as Competition)?.slug}`}
          class="bg-pearl-bush-50 py-3 xs:py-2 px-8 xs:px-4 rounded-2xl max-w-3xl w-full flex flex-row justify-between items-center"
        >
          <h3 class="text-bandicoot-400 font-serif text-lg font-semibold">
            {(post.competition as Competition)?.title}
          </h3>
          <div class="flex flex-row gap-2 items-center">
            <span
              class="font-serif font-regular hover:underline transition-all ease-out duration-500 text-bandicoot-400 text-base"
              >zum Wettbewerb</span
            >
            <ExternalLink class="h-4 w-4 text-bandicoot-400" />
          </div>
        </a>
      </a>
      <div
        class="bg-pearl-bush-50 md:bg-transparent p-8 xs:py-4 xs:px-0 rounded-2xl max-w-3xl w-full"
      >
        <h2 class="text-bandicoot-400 font-bold text-3xl small-caps mb-3">
          {post.author}
        </h2>
        <h1
          class="text-twine-400 font-bold text-5xl small-caps font-serif xs:text-4xl"
        >
          {post.title}
        </h1>
        <div class="flex py-8 gap-3">
          <div
            class="bg-bandicoot-400 font-medium text-sm text-pearl-bush-50 rounded-lg px-3 py-1 flex items-center"
          >
            {
              new Date(post.createdAt).toLocaleDateString("de-DE", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </div>
          <div
            class="rounded-lg px-3 py-1 border-[1px] border-bandicoot-400 text-bandicoot-400 flex items-center text-sm"
          >
            {
              createAgeGroupString([
                post.agegroup?.age_start,
                post.agegroup?.age_end,
              ])
            } Jahre
          </div>
          {
            post.winner && (
              <div class="rounded-lg px-3 py-1 border-[1px] border-bandicoot-400 text-bandicoot-400 flex items-center text-sm">
                <Trophy class="w-4 h-4 text-twine-400" />
              </div>
            )
          }
        </div>
        <div set:html={content} class="prose font-serif" />
        <div class="flex gap-3 mt-5">
          {
            shareButtons.map(({ label, Icon, link }) => (
              <a href={link} title={label}>
                <button class="rounded-lg p-1 border-[1px] border-bandicoot-400 text-bandicoot-400 flex items-center text-sm">
                  <Icon class="w-5 h-5 text-bandicoot-400" />
                </button>
              </a>
            ))
          }
        </div>
      </div>
    </section>
    <section class="z-10 w-full flex justify-center lg:px-8 xs:p-4 my-10">
      {
        runningCompetition.length > 0 && (
          <div class="bg-bandicoot-400 p-10 py-14 w-full rounded-2xl max-w-3xl flex flex-col items-center z-10 gap-10">
            <h2 class="max-w-lg text-center font-serif font-semibold text-pearl-bush-100 text-4xl small-caps">
              Dein Text soll auch hier stehen?
            </h2>
            <a href="/text-einreichen">
              <button class="w-80 2xs:w-60 hover:bg-transparent bg-twine-400 hover:text-twine-400 border-[1px] border-twine-400 text-pearl-bush-50 transition-colors ease-out duration-500 text-lg sm:text-sm font-serif font-semibold flex flex-row gap-2 items-center rounded-lg py-2 px-4 justify-evenly">
                Deinen Text einreichen
              </button>
            </a>
          </div>
        )
      }
    </section>
  </div>
</Layout>
