---
interface Props {
    number: number;
    title: string;
    description: string;
    textColor: string;
}

const { number, title, description, textColor = "text-bandicoot-400" } = Astro.props;
---

<div class="flex-row flex gap-5">
    <div class="@sm:w-full">
        <div
            class="bg-twine-400 aspect-square rounded-full w-11 flex items-center justify-center font-serif font-black text-3xl text-pearl-bush-100"
        >
            {number}
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <h1 class={`small-caps font-bold text-2xl ${textColor}`}>
            {title}
        </h1>
        <p class={`${textColor} font-serif font-medium`}>
            {description}
        </p>
        
    </div>
</div>
